body {
    margin: 0;
    padding: 0;
    background-image: url(fondobalatro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

address {
    background-color: brown;
    border: 3px double black;
}

article {
    background-color: tomato;
    border: 3px solid black;
}

.h1header {
    background-color: chocolate;
    border: 3px double black;
    text-align: center;
}

.h2main {
    background-color: blue;
    border: 3px double black;
    text-align: center;
}